In [17]:
# -*- coding: utf-8 -*-
import dataiku
import pandas as pd, numpy as np
from dataiku import pandasutils as pdu

# Read recipe inputs
ACCOUNTS_WITH_CUSTOMER_FROM_EDW_AND_DUNS = dataiku.Dataset("ACCOUNTS_WITH_CUSTOMER_FROM_EDW_AND_DUNS")
ACCOUNTS_WITH_CUSTOMER_FROM_EDW_AND_DUNS_df = ACCOUNTS_WITH_CUSTOMER_FROM_EDW_AND_DUNS.get_dataframe()

CALCULATED_DRAW_UPS = dataiku.Dataset("CALCULATED_DRAW_UPS")
CALCULATED_DRAW_UPS_df = CALCULATED_DRAW_UPS.get_dataframe()

CALCULATED_DRAW_DOWNS = dataiku.Dataset("CALCULATED_DRAW_DOWNS")
CALCULATED_DRAW_DOWNS_df = CALCULATED_DRAW_DOWNS.get_dataframe()

/data/dataiku/dss_data/code-envs/python/env_clc/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (6,8,10,12,14) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [0]:
CALCULATED_DRAW_UPS_df.head()

In [18]:
df_a = ACCOUNTS_WITH_CUSTOMER_FROM_EDW_AND_DUNS_df[['CUSTOMER_ACCOUNT_ID','CUSTOMER']]
print(len(df_a), "total accounts")

print()

print(len(CALCULATED_DRAW_UPS_df), "with draw ups")
df_down = pd.merge(df_a, CALCULATED_DRAW_UPS_df, on='CUSTOMER_ACCOUNT_ID', how='inner')
print(len(df_down), "accounts joined with draw ups")

print()

print(len(CALCULATED_DRAW_DOWNS_df), "with draw downs")
df_up = pd.merge(df_a, CALCULATED_DRAW_DOWNS_df, on='CUSTOMER_ACCOUNT_ID', how='inner')
print(len(df_up), "accounts joined with draw downs")

844417 total accounts

372 with draw ups
372 accounts joined with draw ups

259 with draw downs
259 accounts joined with draw downs

In [50]:
df_down.head()

#df_down_customer_account_count =  df_down.groupby(by=["CUSTOMER"])['CUSTOMER_ACCOUNT_ID'].count().reset_index()
#df_down_customer_min_date =  df_down.groupby(by=["CUSTOMER"])['DRAW_UP_DATE'].min().reset_index()
#df_down_customer_max_date =  df_down.groupby(by=["CUSTOMER"])['DRAW_UP_DATE'].max().reset_index()

df_down = pd.merge(df_down_customer_account_count, df_down_customer_min_date, on='CUSTOMER')

                              CUSTOMER              DRAW_UP_DATE
0                                 3GPP 2020-08-01 00:00:00+00:00
1                                 3LUM 2019-01-01 00:00:00+00:00
2                            3M (3MUS) 2020-04-01 00:00:00+00:00
3                    3M COMPANY (3MVR) 2020-08-01 00:00:00+00:00
4                       3M COMPANY3MUS 2021-08-01 00:00:00+00:00
..                                 ...                       ...
351                XYLEM ANALYTICS LLC 2021-10-01 00:00:00+00:00
352                          XYLEM INC 2021-08-01 00:00:00+00:00
353  YUM RESTAURANT SERVICES GROUP LLC 2021-03-01 00:00:00+00:00
354                      ZOETIS (3PHX) 2020-09-01 00:00:00+00:00
355                         ZOETIS INC 2022-05-01 00:00:00+00:00

[356 rows x 2 columns]

In [0]:
# Compute recipe outputs
# TODO: Write here your actual code that computes the outputs
# NB: DSS supports several kinds of APIs for reading and writing data. Please see doc.

#BY_ACCOUNT_df = ... # Compute a Pandas dataframe to write into BY_ACCOUNT


# Write recipe outputs
#BY_ACCOUNT = dataiku.Dataset("BY_ACCOUNT")
#BY_ACCOUNT.write_with_schema(BY_ACCOUNT_df)