In [51]:
# -*- coding: utf-8 -*-
import dataiku
import pandas as pd, numpy as np
from dataiku import pandasutils as pdu

import pickle
from dateutil.relativedelta import relativedelta
import gc
from re import finditer

## Find DD DU
from helper import preprocess_data
from patterns import find_drawdowns, find_drawups

## MATCHING
import name_matching
from name_matching import name_match
import transaction_matching
from transaction_matching import transaction_match

## CONSOLIDATION
from consolidation import combine_matches, consolidate_matches, find_attritions, find_new_accounts, get_attrition_status, get_new_account_status

In [52]:
start_date = dataiku.get_custom_variables()['start_date']
end_date = dataiku.get_custom_variables()['end_date']

consistency = int(dataiku.get_custom_variables()['consistency'])
drawdown_period_average = int(dataiku.get_custom_variables()['drawdown_period_average'])
drawdown = int(dataiku.get_custom_variables()['drawdown'])
drawdown_fwd_check = int(dataiku.get_custom_variables()['drawdown_fwd_check'])
drawdown_lookback_period = int(dataiku.get_custom_variables()['drawdown_lookback_period'])
drawup_lookfwd_period = int(dataiku.get_custom_variables()['drawup_lookfwd_period'])
statistics_period = int(dataiku.get_custom_variables()['statistics_period'])
inactive_period = int(dataiku.get_custom_variables()['inactive_period'])

## MATCHING VARIABLES
month_diff_h = int(dataiku.get_custom_variables()['month_diff_h'])
month_diff_l = int(dataiku.get_custom_variables()['month_diff_l'])
sd_mul = int(dataiku.get_custom_variables()['sd_mul'])
max_city_distance = int(dataiku.get_custom_variables()['max_city_distance'])
threshold_score_step1 = int(dataiku.get_custom_variables()['threshold_score_step1'])
threshold_score_step2 = int(dataiku.get_custom_variables()['threshold_score_step2'])

## RUN TYPE
run = dataiku.get_custom_variables()['run_type']

In [53]:
# Read recipe inputs
NAFCUSTOMER_REVENUE_BY_CUSTOMER_LIMITED = dataiku.Dataset("NAFCUSTOMER_REVENUE_BY_CUSTOMER_LIMITED")
NAFCUSTOMER_REVENUE_BY_CUSTOMER_LIMITED_df = NAFCUSTOMER_REVENUE_BY_CUSTOMER_LIMITED.get_dataframe()

print(len(NAFCUSTOMER_REVENUE_BY_CUSTOMER_LIMITED_df))
print(len(NAFCUSTOMER_REVENUE_BY_CUSTOMER_LIMITED_df.CUSTOMER.unique()))
NAFCUSTOMER_REVENUE_BY_CUSTOMER_LIMITED_df.head()

21965
692

   CUSTOMER_ACCOUNT_ID           CUSTOMER_ACCOUNT_NAME                   CUSTOMER ACCOUNTSTATUS                SETUP_DATE      ACCOUNT_CLOSED_DATE  REVENUE_YEAR  REVENUE_QUARTER  REVENUE_MONTH ACCOUNT_CITY ACCOUNT_STATE CUSTOMER_SOURCE_SYSTEM_CODE CUSTOMER_BUSINESS_PROGRAM_NAME  BI_CUS_PAR  BI_PRODUCT  BI_MRU  REVENUE_AMOUNT_USD  GROSS_SPEND_AMOUNT  PURCHASE_GALLONS_QTY  ACTIVE_CARD_COUNT  OUTSTANDING_CARD_COUNT
0         469005700349            GENERAL MILLS (3GMS)              GENERAL MILLS    Terminated 2015-07-09 07:00:00+00:00  2021-08-17 00:00:00.000          2019                1              1  Des Plaines            IL                      TANDEM                     Wheels old       33200       10200    3100         4867.218696           235717.32             99603.129             1398.0                  1440.0
1         469009225020                      WHEELS 996                 WHEELS 996    Terminated 2014-05-06 07:00:00+00:00  2021-01-14 00:00:00.000          2019                1              1  Des Plaines            IL                      TANDEM                     Wheels old       33200       10200    3100          127.086359             5513.53              2376.902               39.0                    45.0
2         469005700612       JONES LANG LASALLE (0469)  JONES LANG LASALLE (0469)    Terminated 2015-12-30 08:00:00+00:00  2022-02-07 00:00:00.000          2019                1              1  Des Plaines            IL                      TANDEM                     Wheels old       33200       10200    3100          234.595982            22961.95              8789.132               63.0                    64.0
3         469005131156                 HILL MECHANICAL            HILL MECHANICAL    Terminated 2003-03-06 08:00:00+00:00  2021-04-01 00:00:00.000          2019                1              1  Des Plaines            IL                      TANDEM                     Wheels old       33200       10200    3100            2.000000                0.00                 0.000                0.0                     1.0
4         469005701479  JOHNSON & JOHNSON SERVICES (3)            JOHNSON JOHNSON    Terminated 2017-12-18 08:00:00+00:00  2021-10-21 00:00:00.000          2019                1              1  Des Plaines            IL                      TANDEM                     Wheels old       33200       10200    3100        13549.952117           687391.16            293662.118             3745.0                  4155.0

In [54]:
df_v = NAFCUSTOMER_REVENUE_BY_CUSTOMER_LIMITED_df
print(len(df_v))

21965

In [55]:
def date_tz_naive(pd_s):
    return pd.to_datetime(pd_s).apply(lambda x:x.tz_localize(None))

In [56]:
print(len(df_v))
df_v['REVENUE_DATE'] = df_v.REVENUE_MONTH.astype(str) + "/01/" + df_v.REVENUE_YEAR.astype(str)
df_v['REVENUE_DATE'] = date_tz_naive(df_v['REVENUE_DATE'])
print(len(df_v))

21965
21965

In [57]:
print(len(df_v))
df_v = df_v[df_v['REVENUE_DATE'].between(pd.to_datetime(start_date), pd.to_datetime(end_date))].copy()
df_v = df_v.dropna(subset=['CUSTOMER'])
print(len(df_v))

21965
21434

In [59]:
df_v['REVENUE_DATE'] = pd.to_datetime(df_v['REVENUE_DATE'])

df_v = df_v[['CUSTOMER','REVENUE_DATE', 'ACTIVE_CARD_COUNT']]

df_v_max = df_v[['CUSTOMER','ACTIVE_CARD_COUNT']]
df_max = df_v_max.groupby(by=["CUSTOMER"]).max().reset_index()
df_max.columns = ['CUSTOMER', 'ACTIVE_CARD_MAX']

                              CUSTOMER  ACTIVE_CARD_MAX
0                                 3GPP             35.0
1                                 3LUM             14.0
2                            3M (3MUS)           2728.0
3                    3M COMPANY (3MVR)            399.0
4                       3M COMPANY3MUS            963.0
..                                 ...              ...
686                    YKK CORPORATION              6.0
687                          YUM  INC.            191.0
688  YUM RESTAURANT SERVICES GROUP LLC            155.0
689                      ZOETIS (3PHX)             23.0
690                         ZOETIS INC            871.0

[691 rows x 2 columns]

In [60]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from dateutil.relativedelta import relativedelta
from helper import *

def split_list(lst, n):
    '''
    Splits a list into almost equal n parts
    '''
    k, m = divmod(len(lst), n)
    return [lst[i*k+min(i, m):(i+1)*k+min(i+1, m)] for i in range(n)]

In [61]:
match_type = "program_flip"
period_start_date = start_date
period_end_date = None
drawup_window = drawup_lookfwd_period
statistics_period = statistics_period
split = None

In [62]:
period_start_date = pd.to_datetime(period_start_date)
df_v = df_v[df_v['REVENUE_DATE'] >= period_start_date].copy()

if period_end_date:
    period_end_date = pd.to_datetime(period_end_date)
    df_v = df_v[df_v['revenue_date'] <= period_end_date].copy()

all_account_ids = list(df_v['CUSTOMER'].unique())

if not split:
    split=1

all_account_ids_n = list(split_list(all_account_ids, split))

rise_df = pd.DataFrame()

for sublist in tqdm(all_account_ids_n):

    du_find = df_v[df_v['CUSTOMER'].isin(sublist)].copy()

    ## Filter Non-Zero Records and find the first non zero transaction date
    du_find = du_find[du_find['ACTIVE_CARD_COUNT'] > 0]
    
    du_find.sort_values(['REVENUE_DATE'], inplace=True)

    du_agg = du_find.groupby(['CUSTOMER'], as_index=False)[['REVENUE_DATE']].min()
    
    du_agg['DU_INDICATOR'] = np.where((du_agg['REVENUE_DATE'] > period_start_date), True, False)
    du_agg.rename(columns={'REVENUE_DATE':'DU_DATE'}, inplace=True)
    du_agg['DU_DATE'] -= pd.DateOffset(months=1)
    du_agg = du_agg[du_agg['DU_INDICATOR'] == True].drop_duplicates(['CUSTOMER'])
    
    ## list of customers who are drawing up
    du_customers = list(du_agg['CUSTOMER'])
    
    if len(du_customers) == 0:
        continue
    
    du_find = du_find[du_find['CUSTOMER'].isin(du_customers)].copy()
    
    du_find = du_find.groupby('CUSTOMER').apply(lambda group: group.iloc[:-1, 1:]).reset_index()
    du_find.drop('level_1', axis=1, inplace=True)
    
    du_find = du_find.merge(du_agg, left_on=['CUSTOMER'], right_on=['CUSTOMER'])
    
    du_find['DU_AVG_START'] = du_find['DU_DATE']  + pd.DateOffset(months=drawup_window)
    du_find['DU_AVG_END'] = du_find['DU_DATE']  + pd.DateOffset(months=drawup_window+statistics_period-1)
    
    du_find_12 = du_find[du_find['REVENUE_DATE'].between(du_find['DU_AVG_START'], du_find['DU_AVG_END'])].copy()
    
    du_stat = du_find_12.groupby(['CUSTOMER'], as_index=False).agg({'ACTIVE_CARD_COUNT':['mean','std']})
    
    du_stat.columns = ['CUSTOMER', 'mean_du','std_du']
    
    rise_df_ = du_agg.merge(du_stat, left_on='CUSTOMER', right_on='CUSTOMER', how='left')
    
    rise_df = pd.concat([rise_df, rise_df_], ignore_index=True)

rise_df.rename(columns={'DU_DATE':'DRAW_UP_DATE',
                        'mean_du':'MEAN_DU',
                       'std_du':'STD_DU'}, inplace=True)

rise_df = rise_df[['CUSTOMER','DRAW_UP_DATE','MEAN_DU','STD_DU']]
rise_df.head()

100%|██████████| 1/1 [00:00<00:00,  3.20it/s]

            CUSTOMER DRAW_UP_DATE      MEAN_DU      STD_DU
0               3GPP   2020-08-01    27.166667    4.239068
1               3LUM   2019-01-01    12.111111    1.615893
2          3M (3MUS)   2020-04-01  2375.083333  169.146767
3  3M COMPANY (3MVR)   2020-08-01   360.083333   65.468186
4     3M COMPANY3MUS   2021-08-01   670.111111  196.492013

In [63]:
print(len(rise_df))
rise_df = pd.merge(rise_df, df_max, how='left', on='CUSTOMER')
print(len(rise_df))
rise_df

322
322

                              CUSTOMER DRAW_UP_DATE      MEAN_DU      STD_DU  ACTIVE_CARD_MAX
0                                 3GPP   2020-08-01    27.166667    4.239068             35.0
1                                 3LUM   2019-01-01    12.111111    1.615893             14.0
2                            3M (3MUS)   2020-04-01  2375.083333  169.146767           2728.0
3                    3M COMPANY (3MVR)   2020-08-01   360.083333   65.468186            399.0
4                       3M COMPANY3MUS   2021-08-01   670.111111  196.492013            963.0
..                                 ...          ...          ...         ...              ...
317                XYLEM ANALYTICS LLC   2021-10-01    35.571429    1.272418             38.0
318                          XYLEM INC   2021-08-01    60.777778    3.192874             66.0
319  YUM RESTAURANT SERVICES GROUP LLC   2021-03-01   146.916667    3.728474            155.0
320                      ZOETIS (3PHX)   2020-09-01    21.416667    0.996205             23.0
321                         ZOETIS INC   2022-05-01          NaN         NaN            871.0

[322 rows x 5 columns]

In [64]:
CALCULATED_CARD_DRAW_UPS_df = rise_df

# Write recipe outputs
CALCULATED_CARD_DRAW_UPS = dataiku.Dataset("CALCULATED_CARD_DRAW_UPS")
CALCULATED_CARD_DRAW_UPS.write_with_schema(CALCULATED_CARD_DRAW_UPS_df)

322 rows successfully written (Q0wWM7MOcs)