In [1]:
# -*- coding: utf-8 -*-
import dataiku
import pandas as pd, numpy as np
from dataiku import pandasutils as pdu

# Read recipe inputs
NAFCUSTOMER_C360_ACCOUNTS = dataiku.Dataset("NAFCUSTOMER_C360_ACCOUNTS")
NAFCUSTOMER_C360_ACCOUNTS_df = NAFCUSTOMER_C360_ACCOUNTS.get_dataframe()

EV_Customer_Segmentation = dataiku.Dataset("EV_Customer_Segmentation")
EV_Customer_Segmentation_df = EV_Customer_Segmentation.get_dataframe()

In [4]:
print(len(NAFCUSTOMER_C360_ACCOUNTS_df))
NAFCUSTOMER_C360_ACCOUNTS_df.head()

882017

   CUSTOMER_ACCOUNT_ID          CUSTOMER_ACCOUNT_NAME                      EDW_CUSTOMER_NAME         DUNS
0        9100006749217  SR MAINTENANCE AND MANAGEMENT  CHEVRON  TEXACO BUSINESS ACCESS PRIMA   10102206.0
1         407003376175           NEW ENGLAND STAIR CO                   NEW ENGLAND STAIR CO   86642667.0
2        9100007798788           LONDON FINE CARS LTD        SHELL FLEET PLUS CANADA PRIMARY  251000048.0
3        9100003620736                TOWN OF CLINTON                  CITGO FLEET (PRIMARY)  159806652.0
4        9100004906989          GUARDIAN PLUMBING INC                    SHEETZ EDGE PRIMARY   70498250.0

In [7]:
df_e = EV_Customer_Segmentation_df[['CUSTOMER_ACCOUNT_ID','FLEET_TYPE']].copy()
df_c360 = NAFCUSTOMER_C360_ACCOUNTS_df[['CUSTOMER_ACCOUNT_ID','EDW_CUSTOMER_NAME']].copy()

In [8]:
print(len(df_e))
df = pd.merge(df_e,df_c360, on='CUSTOMER_ACCOUNT_ID', how='left')
print(len(df))
df.head()

37594
37594

   CUSTOMER_ACCOUNT_ID  FLEET_TYPE                       EDW_CUSTOMER_NAME
0        9100009803232  Government                        STATE OF ARIZONA
1        9100012245130  Government                        STATE OF VERMONT
2        9100010673973  Government                        STATE OF GEORGIA
3        9100011817999  Government  EXXONMOBIL FLEET NATIONAL FLEX PRIMARY
4        9100011177226  Government                       STATE OF COLORADO

In [11]:
df_g = df.groupby(['EDW_CUSTOMER_NAME']).CUSTOMER_ACCOUNT_ID.nunique().reset_index()

In [13]:
# Compute recipe outputs
# TODO: Write here your actual code that computes the outputs
# NB: DSS supports several kinds of APIs for reading and writing data. Please see doc.

TMP_BUNDLERS_df = df_g

# Write recipe outputs
TMP_BUNDLERS = dataiku.Dataset("TMP_BUNDLERS")
TMP_BUNDLERS.write_with_schema(TMP_BUNDLERS_df)

694 rows successfully written (mfsYcnGMUB)