In [1]:
# -*- coding: utf-8 -*-
import dataiku
import pandas as pd, numpy as np
from dataiku import pandasutils as pdu

# Read recipe inputs
CALCULATED_CARD_DRAW_DOWNS = dataiku.Dataset("CALCULATED_CARD_DRAW_DOWNS")
CALCULATED_CARD_DRAW_DOWNS_df = CALCULATED_CARD_DRAW_DOWNS.get_dataframe()

CALCULATED_CARD_DRAW_UPS = dataiku.Dataset("CALCULATED_CARD_DRAW_UPS")
CALCULATED_CARD_DRAW_UPS_df = CALCULATED_CARD_DRAW_UPS.get_dataframe()

In [4]:
print(len(CALCULATED_CARD_DRAW_DOWNS_df))
CALCULATED_CARD_DRAW_DOWNS_df.head()

194

               CUSTOMER            DRAW_DOWN_DATE     MEAN_DD    STD_DD  ACTIVE_CARD_MAX
0                  3LUM 2019-12-01 00:00:00+00:00   13.000000  0.577350             14.0
1             YUM  INC. 2021-04-01 00:00:00+00:00  163.916667  7.774765            191.0
2            XYLEM/3XLM 2021-09-01 00:00:00+00:00   53.500000  3.089572             68.0
3  XYLEM ANALYTICS FUEL 2021-11-01 00:00:00+00:00   35.250000  2.220770             42.0
4      WORLEY (0469)(2) 2021-08-01 00:00:00+00:00  166.083333  9.228989            252.0

In [5]:
print(len(CALCULATED_CARD_DRAW_UPS_df))
CALCULATED_CARD_DRAW_UPS_df.head()

322

                            CUSTOMER              DRAW_UP_DATE     MEAN_DU    STD_DU  ACTIVE_CARD_MAX
0                               3GPP 2020-08-01 00:00:00+00:00   27.166667  4.239068             35.0
1                         ZOETIS INC 2022-05-01 00:00:00+00:00         NaN       NaN            871.0
2                      ZOETIS (3PHX) 2020-09-01 00:00:00+00:00   21.416667  0.996205             23.0
3  YUM RESTAURANT SERVICES GROUP LLC 2021-03-01 00:00:00+00:00  146.916667  3.728474            155.0
4                          XYLEM INC 2021-08-01 00:00:00+00:00   60.777778  3.192874             66.0

In [6]:
CALCULATED_CARD_DRAW_DOWNS_df.sort_values(['CUSTOMER'], inplace=True)
CALCULATED_CARD_DRAW_UPS_df.sort_values(['CUSTOMER'], inplace=True)

In [9]:
customer_down_list = CALCULATED_CARD_DRAW_DOWNS_df.CUSTOMER.unique()
customer_up_list = CALCULATED_CARD_DRAW_UPS_df.CUSTOMER.unique()

In [29]:
import Levenshtein
from fuzzywuzzy import fuzz
import string

draw_downs = ['ADF PIZZA MANAGEMENT','ALKERMES (3ALK)','AMGEN USA INC','ARCADIS US', 'BALFOUR PB']
draw_ups = ['3LUM', 'ALKERMES INC', 'ALLIED TUBE  CONDUIT', 'AMGEN USA', 'ARCADIS US INC', 'BALFOUR BEATTY EQUIPMENT']

idx = 0

for c in draw_downs:
    
    c_str = c.translate(str.maketrans('', '', string.punctuation))
    
    f = c_str
    
    #for m in draw_ups:
        
    #    m_str = m.translate(str.maketrans('', '', string.punctuation))
    #    print(c_str,"-", m_str)
        
    #print()

ADF PIZZA MANAGEMENT - 3LUM
ADF PIZZA MANAGEMENT - ALKERMES INC
ADF PIZZA MANAGEMENT - ALLIED TUBE  CONDUIT
ADF PIZZA MANAGEMENT - AMGEN USA
ADF PIZZA MANAGEMENT - ARCADIS US INC
ADF PIZZA MANAGEMENT - BALFOUR BEATTY EQUIPMENT

ALKERMES 3ALK - 3LUM
ALKERMES 3ALK - ALKERMES INC
ALKERMES 3ALK - ALLIED TUBE  CONDUIT
ALKERMES 3ALK - AMGEN USA
ALKERMES 3ALK - ARCADIS US INC
ALKERMES 3ALK - BALFOUR BEATTY EQUIPMENT

AMGEN USA INC - 3LUM
AMGEN USA INC - ALKERMES INC
AMGEN USA INC - ALLIED TUBE  CONDUIT
AMGEN USA INC - AMGEN USA
AMGEN USA INC - ARCADIS US INC
AMGEN USA INC - BALFOUR BEATTY EQUIPMENT

ARCADIS US - 3LUM
ARCADIS US - ALKERMES INC
ARCADIS US - ALLIED TUBE  CONDUIT
ARCADIS US - AMGEN USA
ARCADIS US - ARCADIS US INC
ARCADIS US - BALFOUR BEATTY EQUIPMENT

BALFOUR PB - 3LUM
BALFOUR PB - ALKERMES INC
BALFOUR PB - ALLIED TUBE  CONDUIT
BALFOUR PB - AMGEN USA
BALFOUR PB - ARCADIS US INC
BALFOUR PB - BALFOUR BEATTY EQUIPMENT

In [0]:
# Compute recipe outputs
# TODO: Write here your actual code that computes the outputs
# NB: DSS supports several kinds of APIs for reading and writing data. Please see doc.

POTENTIAL_DUPLICATES_df = ... # Compute a Pandas dataframe to write into POTENTIAL_DUPLICATES


# Write recipe outputs
POTENTIAL_DUPLICATES = dataiku.Dataset("POTENTIAL_DUPLICATES")
POTENTIAL_DUPLICATES.write_with_schema(POTENTIAL_DUPLICATES_df)