In [11]:
# -*- coding: utf-8 -*-
import dataiku
import pandas as pd, numpy as np
from dataiku import pandasutils as pdu

# Read recipe inputs
Account_Party_extract = dataiku.Dataset("Account_Party_extract")
Account_Party_extract_df = Account_Party_extract.get_dataframe()

/data/dataiku/dss_data/code-envs/python/env_clc/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [12]:
print(len(Account_Party_extract_df))
Account_Party_extract_df.dropna(subset=['ACCOUNTNUMBER'], inplace=True)
print(len(Account_Party_extract_df))

2149826
2149826

In [13]:
print(len(Account_Party_extract_df))
Account_Party_extract_df = Account_Party_extract_df[~Account_Party_extract_df.ACCOUNTNUMBER.str.contains('-', na=False)]
Account_Party_extract_df['ACCOUNTNUMBER'] = Account_Party_extract_df['ACCOUNTNUMBER'].str.strip()
Account_Party_extract_df['ACCOUNTNUMBER'] = Account_Party_extract_df['ACCOUNTNUMBER'].astype('float')
Account_Party_extract_df['ACCOUNTNUMBER'] = Account_Party_extract_df['ACCOUNTNUMBER'].astype('Int64')
print(len(Account_Party_extract_df))

2149826
2149699

In [7]:
print(len(Account_Party_extract_df))
Account_Party_extract_df.drop_duplicates(subset=['ACCOUNTNUMBER'], inplace=True)
print(len(Account_Party_extract_df))

2149699
1166423

In [8]:
Account_Party_extract_df.dtypes

WEXBUSINESSID            int64
ACCOUNTPARTYROLE        object
EBXMATCHGROUPID        float64
GROUPSIZE                int64
DUNS                   float64
NAME                    object
ACCOUNTNUMBER            Int64
ACCOUNTPLATFORM_        object
RPLACCOUNTSETUPDATE     object
dtype: object

In [9]:
Account_Party_extract_df.head()

       WEXBUSINESSID ACCOUNTPARTYROLE  EBXMATCHGROUPID  GROUPSIZE         DUNS                       NAME  ACCOUNTNUMBER ACCOUNTPLATFORM_ RPLACCOUNTSETUPDATE
0           10000041         Customer     1.698569e+15          1          NaN  Bellecreeke Landscape LLC           <NA>           SIEBEL          2007-07-02
65536       10361663         Customer     1.698569e+15          1  102702727.0    Utah Retirement Systems  9100003459051           SIEBEL          2015-07-15
65537       10361665         Customer     1.698569e+15          1    5122492.0                Mister Fire  9100003459078           SIEBEL          2015-07-15
65538       10361666         Customer     1.698569e+15          1   45476923.0     Lyons Air Conditioning  9100003459087           SIEBEL          2015-07-15
65539       10361669         Customer     1.698569e+15          1   34514876.0       New England Expedite  9100003459123           SIEBEL          2015-07-15

In [0]:
# Compute recipe outputs from inputs
# TODO: Replace this part by your actual code that computes the output, as a Pandas dataframe
# NB: DSS also supports other kinds of APIs for reading and writing data. Please see doc.

MDM_ACCOUNT_PARTY_EXTRACT_df = Account_Party_extract_df # For this sample code, simply copy input to output

# Write recipe outputs
MDM_ACCOUNT_PARTY_EXTRACT = dataiku.Dataset("MDM_ACCOUNT_PARTY_EXTRACT")
MDM_ACCOUNT_PARTY_EXTRACT.write_with_schema(MDM_ACCOUNT_PARTY_EXTRACT_df)