In [1]:
# -*- coding: utf-8 -*-
import dataiku
import pandas as pd, numpy as np
from dataiku import pandasutils as pdu

# Read recipe inputs
Account_Party_extract = dataiku.Dataset("Account_Party_extract")
Account_Party_extract_df = Account_Party_extract.get_dataframe()

/data/dataiku/dss_data/code-envs/python/env_clc/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [2]:
print(len(Account_Party_extract_df))
Account_Party_extract_df.dropna(subset=['ACCOUNTNUMBER'], inplace=True)
print(len(Account_Party_extract_df))

2149826
2149826

In [3]:
print(len(Account_Party_extract_df))
Account_Party_extract_df.drop_duplicates(subset=['ACCOUNTNUMBER'], inplace=True)
print(len(Account_Party_extract_df))

2149826
2149587

In [4]:
print(len(Account_Party_extract_df))
Account_Party_extract_df = Account_Party_extract_df[~Account_Party_extract_df.ACCOUNTNUMBER.str.contains('-', na=False)]
Account_Party_extract_df['ACCOUNTNUMBER'] = Account_Party_extract_df['ACCOUNTNUMBER'].str.strip()
Account_Party_extract_df['ACCOUNTNUMBER'] = Account_Party_extract_df['ACCOUNTNUMBER'].astype('float')
Account_Party_extract_df['ACCOUNTNUMBER'] = Account_Party_extract_df['ACCOUNTNUMBER'].astype('Int64')
print(len(Account_Party_extract_df))

2149587
2149460

In [5]:
Account_Party_extract_df.dtypes

WEXBUSINESSID            int64
ACCOUNTPARTYROLE        object
EBXMATCHGROUPID        float64
GROUPSIZE                int64
DUNS                   float64
NAME                    object
ACCOUNTNUMBER            Int64
ACCOUNTPLATFORM_        object
RPLACCOUNTSETUPDATE     object
dtype: object

In [6]:
Account_Party_extract_df.head()

   WEXBUSINESSID ACCOUNTPARTYROLE  EBXMATCHGROUPID  GROUPSIZE         DUNS                              NAME  ACCOUNTNUMBER ACCOUNTPLATFORM_ RPLACCOUNTSETUPDATE
0       10000041         Customer     1.698569e+15          1          NaN         Bellecreeke Landscape LLC           <NA>           SIEBEL          2007-07-02
1       10000046         Customer     1.698569e+15          1  794574876.0                   Proliferate Inc           <NA>           SIEBEL          2007-07-02
2       10000047         Customer     1.698569e+15          1  177050338.0  Jonason Appraisal Services, Inc.           <NA>           SIEBEL          2007-07-02
3       10000052         Customer     1.698569e+15          1          NaN               Gilbert Development           <NA>           SIEBEL          2007-07-02
4       10000053         Customer     1.698569e+15          1          NaN                    Northwind, Inc           <NA>           SIEBEL          2007-07-02

In [0]:
# Compute recipe outputs from inputs
# TODO: Replace this part by your actual code that computes the output, as a Pandas dataframe
# NB: DSS also supports other kinds of APIs for reading and writing data. Please see doc.

MDM_ACCOUNT_PARTY_EXTRACT_df = Account_Party_extract_df # For this sample code, simply copy input to output

# Write recipe outputs
MDM_ACCOUNT_PARTY_EXTRACT = dataiku.Dataset("MDM_ACCOUNT_PARTY_EXTRACT")
MDM_ACCOUNT_PARTY_EXTRACT.write_with_schema(MDM_ACCOUNT_PARTY_EXTRACT_df)