In [1]:
# -*- coding: utf-8 -*-
import dataiku
import pandas as pd, numpy as np
from dataiku import pandasutils as pdu

from datetime import date, datetime, timedelta
import matplotlib.pyplot as plt
import time

t0 = time.time()

print("loading...")

# Read recipe inputs
NAFCUSTOMER_ACCOUNT_ANNUAL_ACTIVE_CARD_COUNT = dataiku.Dataset("NAFCUSTOMER_ACCOUNT_ANNUAL_ACTIVE_CARD_COUNT")
NAFCUSTOMER_ACCOUNT_ANNUAL_ACTIVE_CARD_COUNT_df = NAFCUSTOMER_ACCOUNT_ANNUAL_ACTIVE_CARD_COUNT.get_dataframe()

NAFCUSTOMER_REVENUE_AGGREGATED = dataiku.Dataset("NAFCUSTOMER_REVENUE_AGGREGATED")
NAFCUSTOMER_REVENUE_AGGREGATED_df = NAFCUSTOMER_REVENUE_AGGREGATED.get_dataframe()

t1 = time.time()
print("load duration", (t1-t0)/60.0, "minutes")

loading...
load duration 9.379929351806641 minutes

In [77]:
print(len(NAFCUSTOMER_ACCOUNT_ANNUAL_ACTIVE_CARD_COUNT_df), "rows in NAFCUSTOMER_ACCOUNT_ANNUAL_ACTIVE_CARD_COUNT")
df_a = NAFCUSTOMER_ACCOUNT_ANNUAL_ACTIVE_CARD_COUNT_df.copy()

print(len(NAFCUSTOMER_REVENUE_AGGREGATED_df), "rows in NAFCUSTOMER_REVENUE_AGGREGATED")
df = NAFCUSTOMER_REVENUE_AGGREGATED_df.copy()
df = df[df.REVENUE_YEAR!=2023]
print(len(df))

2319568 rows in NAFCUSTOMER_ACCOUNT_ANNUAL_ACTIVE_CARD_COUNT
18075044 rows in NAFCUSTOMER_REVENUE_AGGREGATED
17673397

In [78]:
df.head()

   CUSTOMER_ID                   CUSTOMER  REVENUE_YEAR  REVENUE_MONTH                SETUP_DATE  BI_CUS_PAR  BI_PRODUCT  BI_MRU  REVENUE_AMOUNT_USD  GROSS_SPEND_AMOUNT  PURCHASE_GALLONS_QTY  TOTAL_ACTIVE_CARD_COUNT
0   77563479.0       SUPER 7 SUPER MARKET          2021              7 2018-11-01 07:00:00+00:00     21000.0     15100.0  4000.0               94.06              482.65               151.250                      3.0
1   77048662.0               ANDREW EPLER          2022             12 2022-10-18 07:00:00+00:00     20800.0     15100.0  4000.0                0.16               12.41                 3.434                      1.0
2   77208278.0  EMPIRE STATE PLUMBING INC          2022             11 2015-01-16 08:00:00+00:00     13000.0     15100.0  4000.0              135.47             3750.51               945.574                      6.0
3   77217422.0    EXTRAORDINARY HOMES LLC          2020             12 2017-05-25 07:00:00+00:00     53000.0     10100.0  4120.0                4.00                0.00                 0.000                      0.0
4   77168266.0  DALLAS 1 CONSTRUCTION LLC          2021              4 2006-10-12 07:00:00+00:00     51000.0     10100.0  3100.0              131.06             1580.50               559.206                      5.0

In [93]:
df_revenue_by_customer_and_year = df.groupby(['CUSTOMER_ID','CUSTOMER','REVENUE_YEAR']).REVENUE_AMOUNT_USD.sum().reset_index()
print(len(df_revenue_by_customer_and_year))

df_spend_by_customer_and_year = df.groupby(['CUSTOMER_ID','CUSTOMER','REVENUE_YEAR']).GROSS_SPEND_AMOUNT.sum().reset_index()
print(len(df_spend_by_customer_and_year))

df_active_card_count_by_customer = df_a.groupby(['CUSTOMER_ID','CUSTOMER','YEAR_NUMBER']).ACTIVE_CARD_COUNT.sum().reset_index()
df_active_card_count_by_customer.columns = ['CUSTOMER_ID','CUSTOMER','REVENUE_YEAR','ACTIVE_CARD_COUNT']
print(len(df_active_card_count_by_customer))

df_customer_fleet_size = df_active_card_count_by_customer.groupby(['CUSTOMER_ID','CUSTOMER']).ACTIVE_CARD_COUNT.max().reset_index()
df_customer_fleet_size.columns = ['CUSTOMER_ID', 'CUSTOMER', 'FLEET_SIZE']
print(len(df_customer_fleet_size))

1777729
1777729
1771976
649448

In [118]:
print(len(df_revenue_by_customer_and_year))
df_j = pd.merge(df_revenue_by_customer_and_year,df_spend_by_customer_and_year,how='left',on=['CUSTOMER_ID','CUSTOMER','REVENUE_YEAR'])
print(len(df_j))

df_j = pd.merge(df_j,df_active_card_count_by_customer,how='left',on=['CUSTOMER_ID','CUSTOMER','REVENUE_YEAR'])
print(len(df_j))

df_j = pd.merge(df_j,df_customer_fleet_size, how='left',on=['CUSTOMER_ID','CUSTOMER'])
print(len(df_j))

df_j.loc[df_j.ACTIVE_CARD_COUNT.isnull(),'ACTIVE_CARD_COUNT'] = 0
df_j.loc[df_j.FLEET_SIZE.isnull(),'FLEET_SIZE'] = 0

df_j['FLEET_CATEGORY'] = 'NOT SET'
df_j.loc[df_j.FLEET_SIZE.between(0,20),'FLEET_CATEGORY'] = '(<=20 cards)'
df_j.loc[df_j.FLEET_SIZE>20,'FLEET_CATEGORY'] = '(>20 cards)'
df_j.head()

1777729
1777729
1777729
1777729

   CUSTOMER_ID                       CUSTOMER  REVENUE_YEAR  REVENUE_AMOUNT_USD  GROSS_SPEND_AMOUNT  ACTIVE_CARD_COUNT  FLEET_SIZE FLEET_CATEGORY
0   77000000.0               1 AUTO PARTS INC          2019              175.47                0.00                1.0         1.0   (<=20 cards)
1   77000001.0   94775 J AND J SNACK FOODS AA          2022               74.15             3318.62                3.0         3.0   (<=20 cards)
2   77000002.0          APOSTROPHE DESIGN INC          2019              177.47             8944.23                4.0         8.0   (<=20 cards)
3   77000002.0          APOSTROPHE DESIGN INC          2020              271.60            10358.34                4.0         8.0   (<=20 cards)
4   77000002.0          APOSTROPHE DESIGN INC          2021              243.51            13094.44                8.0         8.0   (<=20 cards)

In [121]:
df_revenue_by_year = df_j.groupby(['REVENUE_YEAR','FLEET_CATEGORY']).REVENUE_AMOUNT_USD.sum().reset_index()
df_revenue_by_year.head(10)

   REVENUE_YEAR FLEET_CATEGORY  REVENUE_AMOUNT_USD
0          2019   (<=20 cards)        2.135157e+08
1          2019    (>20 cards)        3.983707e+08
2          2020   (<=20 cards)        1.844592e+08
3          2020    (>20 cards)        3.244778e+08
4          2021   (<=20 cards)        2.336359e+08
5          2021    (>20 cards)        3.995124e+08
6          2022   (<=20 cards)        3.440051e+08
7          2022    (>20 cards)        5.389983e+08

In [102]:
import matplotlib.dates as mdates
from matplotlib.ticker import FuncFormatter

    
fig, ax1 = plt.subplots(figsize=(9,4))

dim1 = list(map(str,df_j[df_j.FLEET_CATEGORY=='(>20 cards)'].REVENUE_YEAR))
data1 = df_j[df_j.FLEET_CATEGORY=='(>20 cards)'].ACTIVE_CARD_COUNT

#dim2 = list(map(str,df_j.FLEET_CATEGORY=='(<=20 cards)'].YEAR_NUMBER))
#data2 = df_j[df_j.FLEET_CATEGORY=='(<=20 cards)'].ACTIVE_CARD_COUNT

ax1.bar(dim1,data1, color='#006BA2', width=0.75)
ax1.bar(dim2,data2, bottom=data1, color='#758D99', width=0.75)

ax1.set_xlabel('YEAR', fontsize=14)
ax1.set_ylabel('ACTIVE CARDS', fontsize=14)
ax1.set_ylim(ymin=0, ymax=max_value*1.15)
ax1.yaxis.set_major_formatter(FuncFormatter(lambda x, p: format(int(x), ',')))
ax1.grid(color='#95a5a6', linestyle='--', linewidth=1, axis='y', alpha=0.6)
fig.autofmt_xdate()
plt.title('ACTIVE CARDS BY FLEET SIZE')
plt.legend(['(>20 cards)','(<=20 cards)'], bbox_to_anchor=(1.05,1.0), loc='upper left')
plt.show()

SyntaxError: invalid syntax (<ipython-input-102-a25324320cc6>, line 7)

In [0]:
# Compute recipe outputs
# TODO: Write here your actual code that computes the outputs
# NB: DSS supports several kinds of APIs for reading and writing data. Please see doc.

#RETENTION_RATE_BY_GROUP_df = ... # Compute a Pandas dataframe to write into RETENTION_RATE_BY_GROUP

# Write recipe outputs
#RETENTION_RATE_BY_GROUP = dataiku.Dataset("RETENTION_RATE_BY_GROUP")
#RETENTION_RATE_BY_GROUP.write_with_schema(RETENTION_RATE_BY_GROUP_df)