In [6]:
# -*- coding: utf-8 -*-
import dataiku
import pandas as pd, numpy as np
from dataiku import pandasutils as pdu

# Read recipe inputs
NAFCUSTOMER_NEW_ACCOUNTS_IN_2021 = dataiku.Dataset("NAFCUSTOMER_NEW_ACCOUNTS_IN_2021")
NAFCUSTOMER_NEW_ACCOUNTS_IN_2021_df = NAFCUSTOMER_NEW_ACCOUNTS_IN_2021.get_dataframe()


# Compute recipe outputs from inputs
# TODO: Replace this part by your actual code that computes the output, as a Pandas dataframe
# NB: DSS also supports other kinds of APIs for reading and writing data. Please see doc.

CALCULATED_CLV_df = NAFCUSTOMER_NEW_ACCOUNTS_IN_2021_df # For this sample code, simply copy input to output
print(len(CALCULATED_CLV_df))

99350

In [7]:
df = CALCULATED_CLV_df

In [8]:
df_customers_with_card_count = df.groupby(['CUSTOMER_ID','CUSTOMER']).ACTIVE_CARD_COUNT.sum().reset_index()

df_customers_with_card_count['FLEET_SIZE'] = 'NOT SET'
df_customers_with_card_count.loc[df_customers_with_card_count.ACTIVE_CARD_COUNT.between(0,5), 'FLEET_SIZE'] = '(<=5 cards)'
df_customers_with_card_count.loc[df_customers_with_card_count.ACTIVE_CARD_COUNT.between(6,100), 'FLEET_SIZE'] = '(between 6 and 100 cards)'
df_customers_with_card_count.loc[df_customers_with_card_count.ACTIVE_CARD_COUNT>100, 'FLEET_SIZE'] = '(>100 cards)'
df_customers_with_card_count.head()

   CUSTOMER_ID                 CUSTOMER  ACTIVE_CARD_COUNT                 FLEET_SIZE
0     77000002    APOSTROPHE DESIGN INC                  4                (<=5 cards)
1     77000013   PRECISION FOOTINGS LLC                  3                (<=5 cards)
2     77000022              0 NORTH INC                  3                (<=5 cards)
3     77000024   0008 COLGATE PALMOLIVE                  8  (between 6 and 100 cards)
4     77000026     001 FABRICATION SHOP                  1                (<=5 cards)

In [10]:
df_customers_with_card_count.groupby('FLEET_SIZE').ACTIVE_CARD_COUNT.sum().reset_index()

                  FLEET_SIZE  ACTIVE_CARD_COUNT
0                (<=5 cards)             194742
1               (>100 cards)             426032
2  (between 6 and 100 cards)             272735

In [0]:
# Write recipe outputs
#CALCULATED_CLV = dataiku.Dataset("CALCULATED_CLV")
#CALCULATED_CLV.write_with_schema(CALCULATED_CLV_df)