In [83]:
# -*- coding: utf-8 -*-
import dataiku
import pandas as pd, numpy as np
from dataiku import pandasutils as pdu

ACCOUNT_BUNDLER_LIST = dataiku.Dataset("ACCOUNT_BUNDLER_LIST")
ACCOUNT_BUNDLER_LIST_df = ACCOUNT_BUNDLER_LIST.get_dataframe()
print("Account Bundlers:", len(ACCOUNT_BUNDLER_LIST_df))

#NAFCUSTOMER_RDW_CONVERSIONS = dataiku.Dataset("NAFCUSTOMER_RDW_CONVERSIONS")
#NAFCUSTOMER_RDW_CONVERSIONS_df = NAFCUSTOMER_RDW_CONVERSIONS.get_dataframe()
#print(len(NAFCUSTOMER_RDW_CONVERSIONS_df))

# Read recipe inputs
NAFCUSTOMER_ACCOUNT_ACTIVE_CARDS_BY_QUARTER = dataiku.Dataset("NAFCUSTOMER_ACCOUNT_ACTIVE_CARDS_BY_QUARTER")
NAFCUSTOMER_ACCOUNT_ACTIVE_CARDS_BY_QUARTER_df = NAFCUSTOMER_ACCOUNT_ACTIVE_CARDS_BY_QUARTER.get_dataframe()
print(len(NAFCUSTOMER_ACCOUNT_ACTIVE_CARDS_BY_QUARTER_df))

print(NAFCUSTOMER_ACCOUNT_ACTIVE_CARDS_BY_QUARTER_df.YEAR_NUMBER.min())

print("Min Year:", NAFCUSTOMER_ACCOUNT_ACTIVE_CARDS_BY_QUARTER_df.YEAR_NUMBER.min())
print("Max Year:", NAFCUSTOMER_ACCOUNT_ACTIVE_CARDS_BY_QUARTER_df.YEAR_NUMBER.max())

Account Bundlers: 274
5505636
2008
Min Year: 2008
Max Year: 2013

In [84]:
NAFCUSTOMER_ACCOUNT_ACTIVE_CARDS_BY_QUARTER_df.head()

   CUSTOMER_ACCOUNT_ID          CUSTOMER_ACCOUNT_NAME                  CUSTOMER_NAME       ACCOUNT_SINCE_DATE CUSTOMER_SOURCE_SYSTEM_CODE        ACCOUNT_OPEN_DATE      ACCOUNT_CLOSED_DATE ATTRITION_TYPE_NAME ATTRITION_REASON_CODE               ATTRITION_REASON_DESC  YEAR_NUMBER  QUARTER_NUMBER  ACTIVE_CARD_COUNT
0         6.300018e+12         C&C COMMUNICATIONS INC         C&C COMMUNICATIONS INC  2008-09-23 00:00:00.000                      TANDEM  2008-09-23 00:00:00.000  2010-01-22 00:00:00.000         Involuntary                    12                     Business Closed         2009               2                  2
1         4.670050e+11              TW TELECOM (5T71)              TW TELECOM (5T71)  2000-12-06 00:00:00.000                      TANDEM  2000-12-06 00:00:00.000  2009-06-12 00:00:00.000           Voluntary                    07        To Competitor-Reason Unknown         2009               2                569
2         4.080070e+11      NIXON UNIFORM SERVICE INC      NIXON UNIFORM SERVICE INC  2006-03-13 00:00:00.000                      TANDEM  2006-03-13 00:00:00.000  2014-03-20 00:00:00.000         Involuntary                    51  Closed by Marketer-Non-use & Other         2009               1                 81
3         6.300015e+12  ENT ELECTRICIENS SIMPKIN LTEE  ENT ELECTRICIENS SIMPKIN LTEE  1968-09-01 00:00:00.000                      TANDEM  1968-09-01 00:00:00.000  2022-10-21 00:00:00.000     NNCL Conversion                    04                  Account Conversion         2009               1                  3
4         4.690045e+11                      YUM  INC.                      YUM  INC.  2001-05-24 00:00:00.000                      TANDEM  2001-05-24 00:00:00.000  2021-06-02 00:00:00.000     NNCL Conversion                    04                  Account Conversion         2009               1                883

In [85]:
df_a = NAFCUSTOMER_ACCOUNT_ACTIVE_CARDS_BY_QUARTER_df

df_a.columns = ['CUSTOMER_ACCOUNT_ID','CUSTOMER_ACCOUNT_NAME','EDW_CUSTOMER_NAME','ACCOUNT_SINCE_DATE','CUSTOMER_SOURCE_SYSTEM_CODE','ACCOUNT_OPEN_DATE','ACCOUNT_CLOSED_DATE','ATTRITION_TYPE_NAME','ATTRITION_REASON_CODE','ATTRITION_REASON_DESC','YEAR_NUMBER','QUARTER_NUMBER','ACTIVE_CARD_COUNT']

df_a['CUSTOMER_ACCOUNT_ID'] = df_a['CUSTOMER_ACCOUNT_ID'].astype('Int64', errors='ignore')
df_a['CUSTOMER_ACCOUNT_NAME'] = df_a['CUSTOMER_ACCOUNT_NAME'].str.upper()
df_a['EDW_CUSTOMER_NAME'] = df_a['EDW_CUSTOMER_NAME'].str.upper()

ACCOUNT_BUNDLER_LIST_df['IS_BUNDLER'] = True
ACCOUNT_BUNDLER_LIST_df = ACCOUNT_BUNDLER_LIST_df[['EDW_CUSTOMER_NAME','IS_BUNDLER']]
ACCOUNT_BUNDLER_LIST_df.head()

df = pd.merge(df_a,ACCOUNT_BUNDLER_LIST_df, how='left', on='EDW_CUSTOMER_NAME')
df.loc[df["IS_BUNDLER"].isnull(),'IS_BUNDLER'] = False
df.head()

   CUSTOMER_ACCOUNT_ID          CUSTOMER_ACCOUNT_NAME              EDW_CUSTOMER_NAME       ACCOUNT_SINCE_DATE CUSTOMER_SOURCE_SYSTEM_CODE        ACCOUNT_OPEN_DATE      ACCOUNT_CLOSED_DATE ATTRITION_TYPE_NAME ATTRITION_REASON_CODE               ATTRITION_REASON_DESC  YEAR_NUMBER  QUARTER_NUMBER  ACTIVE_CARD_COUNT IS_BUNDLER
0        6300017866403         C&C COMMUNICATIONS INC         C&C COMMUNICATIONS INC  2008-09-23 00:00:00.000                      TANDEM  2008-09-23 00:00:00.000  2010-01-22 00:00:00.000         Involuntary                    12                     Business Closed         2009               2                  2      False
1         467005020714              TW TELECOM (5T71)              TW TELECOM (5T71)  2000-12-06 00:00:00.000                      TANDEM  2000-12-06 00:00:00.000  2009-06-12 00:00:00.000           Voluntary                    07        To Competitor-Reason Unknown         2009               2                569      False
2         408006989214      NIXON UNIFORM SERVICE INC      NIXON UNIFORM SERVICE INC  2006-03-13 00:00:00.000                      TANDEM  2006-03-13 00:00:00.000  2014-03-20 00:00:00.000         Involuntary                    51  Closed by Marketer-Non-use & Other         2009               1                 81      False
3        6300015462692  ENT ELECTRICIENS SIMPKIN LTEE  ENT ELECTRICIENS SIMPKIN LTEE  1968-09-01 00:00:00.000                      TANDEM  1968-09-01 00:00:00.000  2022-10-21 00:00:00.000     NNCL Conversion                    04                  Account Conversion         2009               1                  3      False
4         469004490744                      YUM  INC.                      YUM  INC.  2001-05-24 00:00:00.000                      TANDEM  2001-05-24 00:00:00.000  2021-06-02 00:00:00.000     NNCL Conversion                    04                  Account Conversion         2009               1                883      False

In [86]:
df['CUSTOMER'] = np.nan
df['CUST_CALC_SOURCE'] = 'Unknown'
df.loc[df.IS_BUNDLER,'EDW_CUSTOMER_NAME'] = np.nan

df.loc[~df['EDW_CUSTOMER_NAME'].isnull(),'CUSTOMER'] = df["EDW_CUSTOMER_NAME"]
df.loc[~df['EDW_CUSTOMER_NAME'].isnull(),'CUST_CALC_SOURCE'] = 'EDW'

df.loc[df['CUSTOMER'].isnull(),'CUST_CALC_SOURCE'] = 'ACCOUNT'
df.loc[df['CUSTOMER'].isnull(),'CUSTOMER'] = df.CUSTOMER_ACCOUNT_NAME


ending_tokens = [' 2', ' 3', ' 4', ' 04', ' 5', ' 6', ' 7', ' 8', ' 9',' (2)',
                 ' (3)',' (04)',' (4)', ' (5)', ' (6)', ' (7)', ' (8)',
                 ' (9)',' (25)','  (32)', ' AD', ' LD', 'L1']

df['CUSTOMER'].str.strip()

for s in ending_tokens:
    index_offset = -1*(len(s))
    df.loc[df['CUSTOMER'].str.endswith(s, na=False),"CUSTOMER"] = df['CUSTOMER'].str[:index_offset]

In [87]:
# Convert YEAR AND QUARTER INTO DATE REPRESENTING THE FIRST DAY OF THE QUARTER
df['REVENUE_DATE'] = ((3*df.QUARTER_NUMBER)-2).astype(str) + "/1/" + (df.YEAR_NUMBER).astype(str)
df['REVENUE_DATE'] = pd.to_datetime(df["REVENUE_DATE"])
df['ACCOUNT_SINCE_DATE'] = pd.to_datetime(df['ACCOUNT_SINCE_DATE'])

#df['CUSTOMER STATE']
#df.loc[df['CUSTOMER_ACCOUNT_NAME'].str.endswith(s, na=False),"CUSTOMER_ACCOUNT_NAME"] = df['CUSTOMER_ACCOUNT_NAME'].str[:index_offset]

df.head()

   CUSTOMER_ACCOUNT_ID          CUSTOMER_ACCOUNT_NAME              EDW_CUSTOMER_NAME ACCOUNT_SINCE_DATE CUSTOMER_SOURCE_SYSTEM_CODE        ACCOUNT_OPEN_DATE      ACCOUNT_CLOSED_DATE ATTRITION_TYPE_NAME ATTRITION_REASON_CODE               ATTRITION_REASON_DESC  YEAR_NUMBER  QUARTER_NUMBER  ACTIVE_CARD_COUNT IS_BUNDLER                       CUSTOMER CUST_CALC_SOURCE REVENUE_DATE
0        6300017866403         C&C COMMUNICATIONS INC         C&C COMMUNICATIONS INC         2008-09-23                      TANDEM  2008-09-23 00:00:00.000  2010-01-22 00:00:00.000         Involuntary                    12                     Business Closed         2009               2                  2      False         C&C COMMUNICATIONS INC              EDW   2009-04-01
1         467005020714              TW TELECOM (5T71)              TW TELECOM (5T71)         2000-12-06                      TANDEM  2000-12-06 00:00:00.000  2009-06-12 00:00:00.000           Voluntary                    07        To Competitor-Reason Unknown         2009               2                569      False              TW TELECOM (5T71)              EDW   2009-04-01
2         408006989214      NIXON UNIFORM SERVICE INC      NIXON UNIFORM SERVICE INC         2006-03-13                      TANDEM  2006-03-13 00:00:00.000  2014-03-20 00:00:00.000         Involuntary                    51  Closed by Marketer-Non-use & Other         2009               1                 81      False      NIXON UNIFORM SERVICE INC              EDW   2009-01-01
3        6300015462692  ENT ELECTRICIENS SIMPKIN LTEE  ENT ELECTRICIENS SIMPKIN LTEE         1968-09-01                      TANDEM  1968-09-01 00:00:00.000  2022-10-21 00:00:00.000     NNCL Conversion                    04                  Account Conversion         2009               1                  3      False  ENT ELECTRICIENS SIMPKIN LTEE              EDW   2009-01-01
4         469004490744                      YUM  INC.                      YUM  INC.         2001-05-24                      TANDEM  2001-05-24 00:00:00.000  2021-06-02 00:00:00.000     NNCL Conversion                    04                  Account Conversion         2009               1                883      False                      YUM  INC.              EDW   2009-01-01

In [88]:
df.CUST_CALC_SOURCE.value_counts(dropna=False)

EDW        5104022
ACCOUNT     401614
Name: CUST_CALC_SOURCE, dtype: int64

In [89]:
df_cust_since = df.groupby(['CUSTOMER']).ACCOUNT_SINCE_DATE.min().reset_index()
df_cust_since = df_cust_since.sort_values(by=['CUSTOMER'], ascending=True)
df_cust_since.head(10)

                   CUSTOMER ACCOUNT_SINCE_DATE
0          1 AUTO PARTS INC         2012-10-29
1        D F W STONE SUPPLY         2012-06-19
2       HISTORIC HOTELS LTD         2010-02-22
3          K C ELECTRIC LLC         2010-12-21
4       MBI ENERGY SERVICES         2013-04-05
5    PRINTING SOLUTIONS INC         2011-03-25
6                   PRO CUT         2012-03-27
7  #1 COOLING & HEATING LLC         2012-12-21
8        #1 FISH MARKET INC         1999-11-11
9                 'KOM LIMO         2002-09-09

In [90]:
df_cust_max_revenue = df.groupby(['CUSTOMER']).REVENUE_DATE.max().reset_index()
df_cust_max_revenue.columns = ['CUSTOMER','MAX_REVENUE_DATE']
df_cust_max_revenue = df_cust_max_revenue.sort_values(by=['CUSTOMER'], ascending=True)
print(len(df_cust_max_revenue))
df_cust_max_revenue = df_cust_max_revenue[df_cust_max_revenue.MAX_REVENUE_DATE.dt.year==2010]
print(len(df_cust_max_revenue))
df_cust_max_revenue.head()

378085
25331

                 CUSTOMER MAX_REVENUE_DATE
8      #1 FISH MARKET INC       2010-10-01
70   0189 VERIZON (PHH16)       2010-01-01
73   0189 VERIZON (PHH20)       2010-07-01
85    0230 ACT DORRAVILLE       2010-04-01
119     0300 DAK AMERICAS       2010-10-01

In [98]:
df_cust_min_revenue = df.groupby(['CUSTOMER']).REVENUE_DATE.min().reset_index()
df_cust_min_revenue.columns = ['CUSTOMER','MIN_REVENUE_DATE']
df_cust_min_revenue = df_cust_min_revenue.sort_values(by=['CUSTOMER'], ascending=True)
print(len(df_cust_min_revenue))
df_cust_min_revenue = df_cust_min_revenue[(df_cust_min_revenue.MIN_REVENUE_DATE.dt.year>=2010)&(df_cust_min_revenue.MIN_REVENUE_DATE.dt.year<2012)]
print(len(df_cust_min_revenue))

378085
66678

In [95]:
df_cust_min_revenue.MIN_REVENUE_DATE.dt.year.value_counts()

2008    227186
2010     34143
2012     33406
2011     32535
2009     28703
2013     22112
Name: MIN_REVENUE_DATE, dtype: int64

In [99]:
df_cust_min_revenue.head()

                       CUSTOMER MIN_REVENUE_DATE
3              K C ELECTRIC LLC       2010-10-01
5        PRINTING SOLUTIONS INC       2011-04-01
14  0 BESO DEL SOL HOLDINGS LLC       2010-07-01
15                0009 CTV, INC       2011-07-01
42     0037 US CONCRETE (PHH25)       2011-01-01

In [100]:
# Write recipe outputs
NAFCUST_HISTORY_TENURE_2010_DORMANT = dataiku.Dataset("NAFCUST_HISTORY_TENURE_2010_DORMANT")
NAFCUST_HISTORY_TENURE_2010_DORMANT.write_with_schema(df_cust_max_revenue)

NAFCUST_HISTORY_TENURE_2010_2011_ORIGINATE = dataiku.Dataset("NAFCUST_HISTORY_TENURE_2010_2011_ORIGINATE")
NAFCUST_HISTORY_TENURE_2010_2011_ORIGINATE.write_with_schema(df_cust_min_revenue)

25331 rows successfully written (ev8qZIbqzf)
66678 rows successfully written (vNd2p564T9)

In [0]:
#df_account_with_customer = df[['CUSTOMER_ACCOUNT_ID','CUSTOMER']].copy()
#df_account_with_customer = df_account_with_customer.drop_duplicates(subset='CUSTOMER_ACCOUNT_ID')
#print(len(df_account_with_customer))
#df_account_with_customer.head()

#df_g.columns = ['CUSTOMER','ACCOUNT_COUNT']
#df_g = df_g.sort_values(by=['ACCOUNT_COUNT'], ascending=False)
#df_g.head(100)

#NAFCUSTOMER_RDW_CONVERSIONS_df.head()
#NAFCUSTOMER_RDW_CONVERSIONS_df.STATUS_DATE.min()

#NAFCUSTOMER_RDW_CONVERSIONS_df.head()
#df_conv = NAFCUSTOMER_RDW_CONVERSIONS_df[['FLEET_ID','CLASSIC_ACCOUNT_NUMBER','FLEET_NAME']].copy()
#print(len(df_conv))
#df_conv = df_conv[~df_conv.CLASSIC_ACCOUNT_NUMBER.isnull()]
#print(len(df_conv))

#df_conv.columns = ['CUSTOMER_ACCOUNT_ID', 'CLASSIC_CUSTOMER_ACCOUNT_ID', 'FLEET_NAME']
#df_conv['CUSTOMER_ACCOUNT_ID'] = df_conv['CUSTOMER_ACCOUNT_ID'].astype('Int64', errors='ignore')
#df_conv['CLASSIC_CUSTOMER_ACCOUNT_ID'] = pd.to_numeric(df_conv['CLASSIC_CUSTOMER_ACCOUNT_ID'], errors='coerce')
#df_conv = df_conv[~df_conv.CLASSIC_CUSTOMER_ACCOUNT_ID.isnull()]
#df_conv['CLASSIC_CUSTOMER_ACCOUNT_ID'] = df_conv['CLASSIC_CUSTOMER_ACCOUNT_ID'].astype('int64', errors='ignore')
#df_conv['CLASSIC_CUSTOMER_ACCOUNT_ID'] = df_conv['CLASSIC_CUSTOMER_ACCOUNT_ID'].astype('Int64', errors='ignore')

#df_conv = pd.merge(df_conv, df_account_with_customer, on='CUSTOMER_ACCOUNT_ID', how='inner')
#print(len(df_conv))
#df_conv = df_conv[['CLASSIC_CUSTOMER_ACCOUNT_ID','CUSTOMER']]
#df_conv.columns = ['CLASSIC_CUSTOMER_ACCOUNT_ID','CUSTOMER_CONVERTED_TO']
#df_conv.head()

In [0]:
#df = df[['CUSTOMER_ACCOUNT_ID','CUSTOMER_ACCOUNT_NAME','YEAR_NUMBER','QUARTER_NUMBER','ACTIVE_CARD_COUNT','CUSTOMER','CUST_CALC_SOURCE']]
#print(len(df))

In [0]:
#print(len(df))
#df = pd.merge(df, df_conv, left_on='CUSTOMER_ACCOUNT_ID', right_on='CLASSIC_CUSTOMER_ACCOUNT_ID', how='left')
#print(len(df))

In [0]:
#df.CUSTOMER_CONVERTED_TO.value_counts()

In [0]:
#df.loc[~df['CUSTOMER_CONVERTED_TO'].isnull(),'CUSTOMER'] = df.CUSTOMER_CONVERTED_TO

In [0]:
#df.head()