In [2]:
# -*- coding: utf-8 -*-
import dataiku
import pandas as pd, numpy as np
from dataiku import pandasutils as pdu

# Read recipe inputs
MATCHES_1_TO_N_FOR_MANUAL_REVIEW = dataiku.Dataset("MATCHES_1_TO_N_FOR_MANUAL_REVIEW")
MATCHES_1_TO_N_FOR_MANUAL_REVIEW_df = MATCHES_1_TO_N_FOR_MANUAL_REVIEW.get_dataframe()

In [35]:
df = MATCHES_1_TO_N_FOR_MANUAL_REVIEW_df

In [46]:
import string
from nltk.tag import pos_tag

print(len(nltk.corpus.words.words()))
df_dict = pd.DataFrame(nltk.corpus.words.words(), columns=['word'])
df_dict['word'] = df_dict['word'].str.upper()

for index, row in df.iterrows():
    
    l = row['CUSTOMER']
    
    c_str = l.translate(str.maketrans('', '', string.punctuation))
    f = c_str.split()
    for w in f:
        is_in_dict = len(df_dict[df_dict['word']==w])>0
        print(w, is_in_dict)

236736
BALFOUR False
BEATTY False
3BSE False
XYLEM True
ANALYTICS False
FUEL True
GIVAUDAN False
FRAGRANCES True
GV25 False
GIVAUDAN False
FLAVORS True
GV35 False
CONSTELLATION False
BRANDS True
3CRW False
CONSTELLATION False
BRANDS True
3CBL False
BECTON False
DICKINSON True
BDC2 False
BECTON False
DICKINSON True
BDC False
BECTON False
DICKINSON True
BDB False

In [40]:
df_dict

             word
0               A
1               a
2              aa
3             aal
4           aalii
...           ...
236731     yellow
236732        yes
236733  yesterday
236734        you
236735      young

[236736 rows x 1 columns]

236736

    word
0      A
1      a
2     aa
3    aal
4  aalii

In [1]:
# Compute recipe outputs from inputs
# TODO: Replace this part by your actual code that computes the output, as a Pandas dataframe
# NB: DSS also supports other kinds of APIs for reading and writing data. Please see doc.

#MATCHES_1_TO_N_BEST_MATCHES_df = MATCHES_1_TO_N_FOR_MANUAL_REVIEW_df # For this sample code, simply copy input to output


# Write recipe outputs
#MATCHES_1_TO_N_BEST_MATCHES = dataiku.Dataset("MATCHES_1_TO_N_BEST_MATCHES")
#MATCHES_1_TO_N_BEST_MATCHES.write_with_schema(MATCHES_1_TO_N_BEST_MATCHES_df)